* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #44268a, #b25bd8);
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

header {
  font-size: 3rem;
  color: white;
  text-align: center;
}

header,
form {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2 rem;
  font-family: "Poppins", sans-serif;
  border: none;
}

form button {
  color: #f48262;
  background-color: white;
}

input:focus {
  outline: none;
}

.comic-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  height: 500px;
  margin: 15px;
}

.img-text {
  color: white;
  padding: 30px;
  font-size: 1.3rem;
}
